// Переменные цветовой-палитры STYLUS
$color-ui = var(--color-ui)
$color-ui-hover = var(--color-ui-hover)
$color-ui-active = var(--color-ui-active)
$color-ui-focus = var(--color-ui-focus)
$color-text = var(--color-text)
$color-text-secondary = var(--color-text-secondary)
$color-text-third = var(--color-text-third)
$color-text-inversion = var(--color-text-inversion)
$color-text-disabled = var(--color-text-disabled)
$color-border = var(--color-border)
$color-border-ui = var(--color-border-ui)
$color-border-disabled = var(--color-border-disabled)
$color-border-inversion = var(--color-border-inversion)
$color-background = var(--color-background)
$color-background-secondary = var(--color-background-secondary)
$color-background-third = var(--color-background-third)
$color-background-inversion = var(--color-background-inversion)
$color-background-disabled = var(--color-background-disabled)
$color-background-invisible-10 = var(--color-background-invisible-10)
$color-background-invisible-15 = var(--color-background-invisible-15)
$color-background-invisible-20 = var(--color-background-invisible-20)
$color-background-invisible-30 = var(--color-background-invisible-30)
$color-error = var(--color-error)
$color-error-hover = var(--color-error-hover)
$color-error-active = var(--color-error-active)
$color-success = var(--color-success)
$color-success-hover = var(--color-success-hover)
$color-success-active = var(--color-success-active)
$color-warning = var(--color-warning)
$color-warning-hover = var(--color-warning-hover)
$color-warning-active = var(--color-warning-active)
$color-warning-focus = var(--color-warning-focus)

// тени
$box-shadow = 2.5px 5px 15px rgba(0, 0, 0, 0.2)
$box-shadow-hover = 15px 20px 25px rgba(72, 102, 162, 0.05)

// Закругления
$border-radius = 7px
$border-radius-big = 15px
$circle-radius = 1000px

// Обводка
$border = 1px solid $color-border
$border-ui = 1px solid $color-ui

// Отступы
$gutter-base = 4px
$padding = 16px
$padding-small = 8px
$padding-extra-small = 4px
$padding-big = 24px
$padding-large = 32px

// Шрифты
$font-text = "Ubuntu"

// Начертания шрифта
$regular = 400
$medium = 600
$bold = 900

// Переходы
$transition = 0.4s ease

// Высота
$panel-height = 45px

// Высота строки
$line-height = 22px
$line-height-small = 17px

// Непрозрачность
$opacity-hover = .7
$opacity-hover-light = .5

// Переменные цветовой-палитры CSS
:root
	--color-ui #465EFD
	--color-ui-hover #557AFF
	--color-ui-active #324DFE
	--color-ui-focus #6486FF
	--color-text #FFFFFF
	--color-text-secondary #979798
	--color-text-third #DADADA
	--color-text-inversion #333333
	--color-text-disabled #656565
	--color-border #979798
	--color-border-ui #6486FF
	--color-border-disabled #B9B9B9
	--color-border-inversion #FFFFFF
	--color-background #181818
	--color-background-secondary #323336
	--color-background-third #45484F
	--color-background-inversion #FAFBFD
	--color-background-disabled #B9B9B9
	--color-background-invisible-10 #FFFFFF10
	--color-background-invisible-15 #FFFFFF15
	--color-background-invisible-20 #FFFFFF20
	--color-background-invisible-30 #FFFFFF30
	--color-error #FF8469
	--color-error-hover #FF8970
	--color-error-active #FF7354
	--color-success #4AD295
	--color-success-hover #49EDA3
	--color-success-active #18E88B
	--color-warning #FFB758
	--color-warning-hover #FFAC3F
	--color-warning-active #FFAD42
	--color-warning-focus #FFBB61
	// Ant Design
	--antd-wave-shadow-color var(--color-ui)
	// Full Calendar
	--fc-now-indicator-color var(--color-error)
