.components
	width 100%
	display flex
	flex-direction column

	&__search.ant-input-group-wrapper.ant-input-search.ant-input-search-with-button
		width 250px
		margin-top 20px
		margin-bottom 40px

	&__card
		padding 20px
		height 260px

		& a, & .ant-card-body
			display flex
			justify-content center
			align-items center

		& a
			height 100px
			width 100%
			margin-top 20px

		& img
			max-height 130px
			width auto
			max-width 100%
			transition opacity $transition

		&:hover img
			opacity .6
